@model IEnumerable<project_demo.Models.Product>

@{
    ViewData["Title"] = "PostedAds";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>PostedAds</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryId)
            </th> *@
      @*       <th>
                @Html.DisplayNameFor(model => model.Type)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryId)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "SellersDetail", new { id=item.ProductId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

@Html.ActionLink("AddProduct", "AddProduct", new {}, new { @class = "btn btn-primary" })

